@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter18pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter18pt-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITCAvantGardeStd';
  src: url('./fonts/ITCAvantGardeStd-Bk.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITCAvantGardeStd';
  src: url('./fonts/ITCAvantGardeStd-Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITCAvantGardeStd';
  src: url('./fonts/ITCAvantGardeStd-Demi.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITCAvantGardeStd';
  src: url('./fonts/ITCAvantGardeStd-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

button {
  cursor: pointer;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill='none'], [fill^='url'])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke='none'], [stroke^='url'])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

:root {
  --color-dark: #24272e;
  --color-dark-alternate: #101c26;
  --color-light: #f3f4f6;
  --color-light-alternate: #f5f5f5;
  --color-yellow: #f0e714;
  --color-light-yellow: rgba(240, 231, 20, 0.2);
  --color-gray: #555c68;
  --color-gray-header: #bab9b9;

  --bg-yellow-background: rgba(240, 231, 20, 0.2);

  --font-family-base: 'ITCAvantGardeStd', sans-serif;
  --font-family-accent: 'Inter', sans-serif;

  --container-width: 1280px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

  --header-height: 122px;

  --border-radius: 100px;

  --height-button: 50px;

  --padding-block-y: 140px;
}

body {
  font-family: var(--font-family-base);
  background-color: #f3f4f6;
}

body.is-lock {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-wide {
  --container-wide-width: 1780px;
  max-width: calc(var(--container-wide-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.section {
  overflow: hidden;
}

.section:not(:last-child) {
  padding-bottom: var(--padding-block-y);
}

.section__body {
  display: flex;
  gap: 30px;
}

.section__header:not(:last-child) {
  margin-bottom: 40px;
}

.section__image-block {
  position: relative;
  flex-shrink: 0;
}

.main-section {
  background: var(--color-dark-alternate) url('./images/bg-lines.png') no-repeat;
  background-position: -450px;
  object-fit: cover;
}

.title {
  color: var(--color-dark);
  background-color: var(--color-light-yellow);
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 16px;
  border-radius: var(--border-radius);
}

.subtitle {
  font-family: var(--font-family-base);
  font-size: clamp(26px, 3.05vw, 44px);
  font-weight: 600;
  line-height: 1.27;
  color: var(--color-dark);
}

.description {
  color: var(--color-gray);
  font-size: 20px;
  line-height: 1.5;
}

.title,
.description {
  font-family: var(--font-family-accent);
  font-weight: 400;
}

.title:not(:last-child) {
  margin-bottom: 24px;
}

.subtitle:not(:last-child) {
  margin-bottom: 16px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.button {
  border-radius: var(--border-radius);
  border: none;
  height: var(--height-button);
  background-color: var(--color-yellow);
  white-space: nowrap;
}

.button:hover {
  background-color: #daa738;
}

.header__menu-link,
.button {
  font-weight: 500;
}

.header {
  min-height: var(--header-height);
  width: 100%;
  padding-top: 27px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

.header__logo {
  flex-shrink: 0;
  z-index: 6;
}

.header__logo-image {
  height: auto;
}

.header__menu-list {
  display: flex;
  column-gap: 40px;
}

.header__menu-link {
  color: var(--color-gray-header);
  position: relative;
  transition-duration: var(--transition-duration);
}

.header__menu-link:hover {
  color: #ffffff;
}

.header__menu-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -6px;
  transition-duration: var(--transition-duration);
}

.header__menu-link:hover::after {
  background-color: #ffffff;
}

.header__actions {
  display: flex;
  align-items: center;
  column-gap: 16px;
  z-index: 5;
}

.header__button-authorization {
  background-color: transparent;
  color: #cecece;
  border: 1px solid #cecece;
  padding-inline: 32px;
}

.header__button-authorization:hover {
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
  background-color: var(--color-yellow);
}

.header__button-registration {
  padding-inline: 39px;
}

.header__burger-button {
  display: none;
  background-color: transparent;
  border: none;
}

.hero {
  padding-top: 44px;
  padding-bottom: 62px;
  min-height: calc(100vh - var(--header-height));
}

.hero__content {
  padding-bottom: 100px;
}

.hero__info {
  flex: 0 0 100%;
}

.hero__description {
  max-width: 427px;
}

.hero__title {
  font-size: clamp(34px, 4.16vw, 60px);
  line-height: 1.1;
  font-weight: 700;
}

.hero__title:not(:last-child) {
  margin-bottom: 24px;
}

.hero__description {
  font-size: clamp(16px, 1.38vw, 20px);
  font-weight: 500;
  position: relative;
}

.hero__description::after {
  content: '';
  width: 34px;
  aspect-ratio: 1;
  position: absolute;
  right: -2.4em;
  top: -0.3em;
  background: url('./icons/star.svg') right/contain no-repeat;
}

.hero__description:not(:last-child) {
  margin-bottom: 40px;
}

.hero__title,
.hero__description,
.hero__play-button-text {
  color: #f3f4f6;
}

.hero__button-start {
  display: inline-flex;
  align-items: center;
  position: relative;
  color: black;
  height: 60px;
  padding-right: 70px;
  padding-left: 36px;
}

.hero__button-start.icon--black-arrow::after {
  content: '';
  height: 100%;
  aspect-ratio: 1;
  position: absolute;
  right: 0;
  background: url('./icons/arrow-right_black.svg') left / 40% no-repeat;
}

.hero__actions {
  display: flex;
  align-items: center;
  gap: 23px;
}

.hero__actions:not(:last-child) {
  margin-bottom: 75px;
}

.hero__play-video {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.hero__play-button {
  background-color: #ffffff;
  border: none;
  width: 30px;
  aspect-ratio: 1;
  border-radius: var(--border-radius);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.hero__play-button::after {
  content: '';
  width: 14px;
  aspect-ratio: 1;
  background: url('./icons/play-button.svg') center/70% no-repeat;
}

.hero__play-button:hover {
  background-color: #cfcccc;
}

.hero__metrics {
  max-width: 444px;
}

.hero__metrics-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 15px 32px;
}

.hero__metrics-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero__metrics-value {
  font-size: 44px;
}

.hero__metrics-value.--yellow-color {
  color: var(--color-yellow);
}

.hero__metrics-value-info {
  color: #ffffff;
}

.hero__banner-image {
  position: relative;
}

.hero__banner-image::before {
  content: '';
  width: 202px;
  height: 235px;
  position: absolute;
  top: 250px;
  left: -100px;
  z-index: 3;
  background: url('./images/statistics.png') center/contain no-repeat;
}
.hero__partners-list {
  display: flex;
  column-gap: 80px;
}

.hero__partner-image *[fill] {
  fill: #b9b9b9;
}

.hero__partner-image:hover *[fill] {
  fill: var(--color-gray);
}

.about {
  margin-top: 140px;
}

.about__body {
  align-items: center;
}

.about__image-block::before {
  content: '';
  position: absolute;
  width: 182px;
  aspect-ratio: 1;
  left: -60px;
  bottom: -60px;
  z-index: -1;
  background: url('./images/dotted-circle.png') left/contain no-repeat;
}

.about__info-body {
  padding-block: 54px;
}

.about__info-button {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: var(--height-button);
  padding-right: 55px;
  padding-left: 33px;
}

.about__info-button.--button-black {
  background-color: var(--color-dark);
  color: var(--color-yellow);
}

.about__info-button.icon--yellow-arrow::after {
  content: '';
  height: 100%;
  aspect-ratio: 1;
  position: absolute;
  right: 0;
  background: url('./icons/arrow-right_yellow.svg') left / 40% no-repeat;
}

.about__info-button:hover {
  background-color: var(--color-yellow);
  color: var(--color-dark);
}

.about__info-button.icon--yellow-arrow:hover::after {
  background: url('./icons/arrow-right_black.svg') left / 40% no-repeat;
}

.choose-us__body {
  flex-direction: row-reverse;
}

.choose-us__image-block::after {
  content: '';
  position: absolute;
  width: 182px;
  aspect-ratio: 1;
  right: -60px;
  bottom: -60px;
  z-index: -1;
  background: url('./images/dotted-circle.png') right/contain no-repeat;
}

.choose-use__advantages-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.choose-use__advantages-item {
  display: flex;
  gap: 24px;
}

.choose-use__advantages-image-block {
  flex-shrink: 0;
}

.choose-use__advantages-title {
  font-family: var(--font-family-base);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
}

.choose-use__advantages-description {
  font-family: var(--font-family-accent);
  line-height: 1.5;
  color: var(--color-gary);
}

.services__info-header {
  margin-bottom: 80px;
}

.services__info-header {
  text-align: center;
}

.services__services-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.services__services-item {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 10px;
  transition-duration: var(--transition-duration);
}

.services__services-item:hover {
  box-shadow: 0 30px 50px -10px rgba(152, 151, 151, 0.37);
  background: #fff;
}

.services__services-image-block:not(:last-child) {
  margin-bottom: 24px;
}

.services__services-title {
  font-family: var(--font-family-base);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--color-dark);
}

.container-title {
  display: block;
  max-width: 181px;
}

.services__services-title:not(:last-child) {
  margin-bottom: 12px;
}

.cases__info-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
}

.cases__info-subtitle {
  max-width: 508px;
}

.cases__slider-buttons {
  width: 108px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.swiper-button {
  cursor: pointer;
}

.swiper-custom-button-prev.swiper-button-disabled,
.swiper-custom-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-arrow *[stroke] {
  stroke: #636770;
}
.swiper-arrow *[fill] {
  fill: #636770;
}

.swiper-arrow:hover *[stroke] {
  stroke: var(--color-dark-alternate);
}

.cases__slider {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.slide-case {
  max-width: 510px;
}

.swiper-slide__image-block:not(:last-child) {
  margin-bottom: 40px;
}

.swiper-slide__title:not(:last-child) {
  margin-bottom: 20px;
}

.swiper-description:not(:last-child) {
  margin-bottom: 16px;
}

.swiper-slide__image-block img {
  object-fit: cover;
  width: 100%;
}
.swiper-slide__title,
.swiper-slide__case-link {
  font-family: var(--font-family-base);
  color: var(--color-dark);
}

.swiper-slide__title {
  font-weight: 500;
  font-size: 34px;
  line-height: 0.82;
}

.swiper-slide__case-link {
  font-weight: 600;
}

.swiper-slide__case-link {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.swiper-slide__case-link:hover {
  color: var(--color-gray);
}

.testimonial {
  padding-bottom: 50px;
}

.testimonial__info-header:not(:last-child) {
  margin-bottom: 80px;
}

.testimonial__info-header-inner {
  text-align: center;
}

.swiper-pagination {
  position: absolute;
}

.testimonial_slider {
  position: relative;
  height: 100%;
}

.testimonial__swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  position: relative;
}

.swiper-slide.slide-review {
  text-align: center;
}

.slide-review__body {
  padding: 36px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide-review__image:not(:last-child) {
  margin-bottom: 10px;
}

.slide-review__name {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: #000000;
}

.slide-review__name:not(:last-child),
.slide-review__position:not(:last-child) {
  margin-bottom: 5px;
}

.slide-review__position {
  font-family: var(--font-family-accent);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #8791a0;
}

.slide-review__rating {
  display: flex;
  column-gap: 5px;
}

.slide-review__rating-star-image *[fill] {
  fill: #f37825;
}

.slide-review__text {
  font-family: var(--font-family-accent);
  font-weight: 500;
  line-height: 1.87;
  color: #555c68;
  position: relative;
}

.slide-review__text:before {
  content: '';
  position: absolute;
  left: -25px;
  width: 28px;
  height: 20px;
  background: url('./icons/comment-icon.svg') left/contain no-repeat;
}

/* Стили для центрального слайда */
.swiper-slide.slide-review.centered {
  box-shadow: 0 25px 32px 0 rgba(67, 67, 67, 0.14);
  border-radius: 10px;
  transform: scale(1.1);
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-dark-alternate);
  width: 20px;
  height: 20px;
}

@media (max-width: 1400px) {
  .section:not(:last-child) {
    padding-bottom: 100px;
  }

  .choose-us__body {
    align-items: center;
  }
}

@media (max-width: 1300px) {
  .section__image-block {
    flex-shrink: 1;
  }
  .hero__partners {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }
}

@media (min-width: 1280px) {
  .hero__content {
    display: flex;
  }
  .hero__info-body {
    width: 50%;
  }
  .hero__banner-image {
    flex: 0 0 50%;
    transform: translate(-100%, 0px);
  }
}

@media (max-width: 1280px) {
  .section:not(:last-child) {
    padding-bottom: 80px;
  }
  .hero {
    padding-bottom: 0px;
  }
  .hero__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__info-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero__description {
    max-width: 100%;
  }
  .hero__title,
  .hero__description {
    text-align: center;
  }

  .hero__description::after {
    right: -3em;
  }

  .hero__actions:not(:last-child) {
    margin-bottom: 35px;
  }

  .hero__banner-image {
    display: none;
  }

  .hero {
    min-height: calc(100vh - var(--header-height));
  }
  .services__services-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .about {
    margin-top: 100px;
  }
  .swiper-slide.slide-review.centered {
    box-shadow: none;
    border-radius: 0px;
    transform: scale(1);
  }
}

@media (max-width: 1060px) {
  .about__info-body {
    padding-block: 0px;
  }
  .about__image-block::before {
    left: -50px;
    bottom: -45px;
  }
  .section__body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .services__info-header {
    margin-bottom: 60px;
  }
}

@media (max-width: 890px) {
  .header__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all var(--transition-duration) ease 0s;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 5;
  }

  .header__menu.is-visible {
    left: 0;
  }

  .header__menu-list {
    padding-inline: var(--container-padding-x);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__menu-list:not(:last-child) {
    margin-bottom: 30px;
  }

  .header__menu-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .header__menu-link {
    font-size: clamp(30px, 6.74vw, 50px);
  }

  .header__menu-link::after {
    bottom: 0;
  }

  .header__burger-button {
    display: block;
    position: relative;
    z-index: 5;
    width: 38px;
    height: 30px;
  }

  .header__burger-button span,
  .header__burger-button::before,
  .header__burger-button::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    transition-duration: var(--transition-duration);
    background-color: #fff;
    border-radius: 2px;
  }

  .header__burger-button::before,
  .header__burger-button::after {
    content: '';
  }

  .header__burger-button::before {
    top: 0;
  }

  .header__burger-button::after {
    bottom: 0;
  }

  .header__burger-button.is-active span {
    transform: scale(0);
  }

  .header__burger-button.is-active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .header__burger-button.is-active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .header__burger-button span {
    top: 45%;
    transform: scale(1) translate(0px -50%);
  }
  .services__services-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .slide-case {
    max-width: 100%;
  }
}

@media (max-width: 760px) {
  .description:not(:last-child) {
    margin-bottom: 30px;
  }
  .hero__description::after {
    display: none;
  }
  .about {
    margin-top: 60px;
  }
  .about__info-description:not(:last-child) {
    margin-bottom: 30px;
  }
  .services__info-header {
    margin-bottom: 40px;
  }
  .swiper-description:not(:last-child) {
    margin-bottom: 12px;
  }
  .cases__info-header {
    margin-bottom: 28px;
  }
}

@media (max-width: 600px) {
  .services__services-list {
    grid-template-columns: repeat(1, auto);
    gap: 10px;
  }
  .services__services-item {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .container-title {
    max-width: 100%;
  }
}

@media (max-width: 460px) {
  .hero__actions {
    flex-direction: column;
  }
  .hero__actions:not(:last-child) {
    margin-bottom: 15px;
  }
}
